<div class="content">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
    <div class="card-body ">
    <div class="row">
    <div class="col-5 col-md-4">
    <div class="icon-big text-center" style="width: 50px;">
        <mat-icon class="large-icon">donut_large</mat-icon>
    </div>
    </div>
    <div class="col-7 col-md-8">
    <div class="numbers">
    <p class="card-category">Capacity</p>
    <p class="card-title">150GB</p><p>
    </p></div>
    </div>
    </div>
    </div>
    <div class="card-footer ">
    <hr>
    <div class="stats">
    <i class="fa fa-refresh"></i>
    Update Now
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
    <div class="card-body ">
    <div class="row">
    <div class="col-5 col-md-4">
        <div class="icon-big text-center" style="width: 50px;">
            <mat-icon class="large-icon">account_box</mat-icon>
        </div>
    </div>
    <div class="col-7 col-md-8">
    <div class="numbers">
    <p class="card-category">Revenue</p>
    <p class="card-title">$ 1,345</p><p>
    </p></div>
    </div>
    </div>
    </div>
    <div class="card-footer ">
    <hr>
    <div class="stats">
    <i class="fa fa-calendar-o"></i>
    Last day
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
    <div class="card-body ">
    <div class="row">
    <div class="col-5 col-md-4">
        <div class="icon-big text-center" style="width: 50px;">
            <mat-icon class="large-icon">get_app</mat-icon>
        </div>
    </div>
    <div class="col-7 col-md-8">
    <div class="numbers">
    <p class="card-category">Errors</p>
    <p class="card-title">23</p><p>
    </p></div>
    </div>
    </div>
    </div>
    <div class="card-footer ">
    <hr>
    <div class="stats">
    <i class="fa fa-clock-o"></i>
    In the last hour
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
    <div class="card-body ">
    <div class="row">
    <div class="col-5 col-md-4">
        <div class="icon-big text-center" style="width: 50px;">
            <mat-icon class="large-icon">feedback</mat-icon>
        </div>
    </div>
    <div class="col-7 col-md-8">
    <div class="numbers">
    <p class="card-category">Followers</p>
    <p class="card-title">+45K</p><p>
    </p></div>
    </div>
    </div>
    </div>
    <div class="card-footer ">
    <hr>
    <div class="stats">
    <i class="fa fa-refresh"></i>
    Update now
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="card ">
    <div class="card-header ">
    <h5 class="card-title">Users Behavior</h5>
    <p class="card-category">24 Hours performance</p>
    </div>
    <div class="card-body "><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <canvas id="chartHours" width="1406" height="350" class="chartjs-render-monitor" style="display: block; width: 703px; height: 175px;"></canvas>
    </div>
    <div class="card-footer ">
    <hr>
    <div class="stats">
    <i class="fa fa-history"></i> Updated 3 minutes ago
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Feedbacks</h5>
                </div>
        <div class="card-feedback">
            <div *ngIf="feedbacks.length > 0; else noFeedback">
                <table>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>User ID</th>
                      <th>Message</th>
                      <th>Rating</th>
                      <th>Created At</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let feedback of feedbacks">
                      <td>{{ feedback.feedbackId }}</td>
                      <td>{{ feedback.userId }}</td>
                      <td>{{ feedback.message }}</td>
                      <td>{{ feedback.rating }}</td>
                      <td>{{ feedback.createdAt | date: 'MM/dd/yyyy' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noFeedback><p>No feedbacks found.</p></ng-template>
    
    
    
    
            </div>
        </div>
    </div>
    </div>

    